[Unit]
Description=DeMater Web Backend service
After=network.target

[Service]
User=user1
Group=admin
Type=simple
# Токен бота (на будущее, если потребуется вернуть бота)
# Environment="DEMATBOT_TOKEN=<TOKEN>"
Environment="DEMATBOT_MODEL_PATH=models/vosk-model-small-ru-0.22"
Restart=always
RestartSec=5
WorkingDirectory=/app/DeMater

# Запуск Telegram-бота (закомментирован на будущее)
# ExecStart=/usr/bin/python3 demater_bot.py

# Запуск FastAPI бэкенда
ExecStart=/usr/bin/python3 -m uvicorn app:app --host 0.0.0.0 --port 8003

[Install]
WantedBy=multi-user.target